body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a6b1e1;  /* soft purple */
    padding: 30px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    color: #4d4d4d;
}

section {
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
